html, body{
	margin: 0;

}

/*-------- 		JUMBOTRON 	-------- */		

#home-jumbotron{
	background-color: #ccebff;
	height: 100vh;
	margin: 0;
}

.jumbotron-text{
	color: black;
	font-family: "Open Sans", sans-serif;
	padding: 50px 0 30px 0;
	
}

#jumbrotron-hr{
	max-width: 700px;
	margin: 20px 0 30px 50px;
}

.jumbotron-text h1, {
	padding: 0 0 0 50px;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
}

.jumbotron-text h2{
	padding: 0 0 0 500px;

}



/*-------- 		BACKGROUNDS 	-------- */		


.background-white{
	background-color: white;
	height: 100%;
	width: 100%;

}

.background-blue{
	background-color: #ccebff;
	height: 100%;
	width: 100%;
	
	
}


/*-------- 			(SUB) HEADERS, HR 		-------- */		

.header-props{
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}


.header-props h2{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	padding: 30px;
	margin: 0;
}

h4{
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #3D9970;
	text-align: center;
	padding: 0 0 10px 0;
}


.hr-style{
	padding: 0;
	margin: 0;
}

 /*-------- 		NAVBAR 		-------- */		


#navbar{
	position: fixed;
	top: 30%;
	right: 5%;
	display: block;
	overflow: hidden;
}

#navbar ul{
	background-color: black;
	border-radius: 2%;
	text-align: center;
	padding: 0;

}


#navbar ul li{	
	margin: 0;
	padding: 20px;
}


#navbar ul li a{
	color: white;
	font-weight: 100;
	list-style: none;
	text-decoration: none;
		
}


#navbar ul li:hover{
	background-color: #3D9970;


}


/* -------- 	OVER MIJ	-------- */	


.over-mij-text{
	text-align: center;
	padding-top: 60px;
	font-family: "Open Sans";
	font-weight: 100;
}

.over-mij-photo{
	text-align: center;
	padding: 30px 0 50px 0;
}


.over-mij-profile{
	text-align: left;
	font-weight: 100;
	padding-top: 30px;
}

.over-mij-profile h4{
	text-align: left;
}


 /*-------- 	ERVARINGEN 		-------- */		


.ervaringen-items{
	line-height: 0.7;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	padding: 30px 0 0 40px;
	margin: 0;

}


.ervaringen-descript1{
	max-width: 400px;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	padding: 70px 0 0 0;
	margin: 0;
}

.ervaringen-descript2{
	max-width: 400px;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	padding: 25px 0 0 0;

}
 .ervaringen-date{
 	font-size: 0.8em;
 	line-height: 0.7;
 }


 /*-------- 	CONTACT 		-------- */		

 ul{
 	margin: 0;
 	padding: 50px;
 	font-family: "Open Sans", sans-serif;
	font-weight: 100;

 }


li{
	list-style-type: none;
	text-decoration: none;

}


 ul li a{
 	color: black;
 	
}

ul li a:hover{
  	color: #3D9970;
  	text-decoration: none;
}

 
ul li:hover{
 	text-decoration: none;
 	color: #3D9970;
 }


footer{
	margin: 200px 0 10px 0;
	font-size: 0.7em;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
 }
